# -----------------------------------------------
# ----  GitAttributes  --------------------------
# ----  https://git-scm.com/docs/gitattributes  -
# -----------------------------------------------

# For templates, see
# https://github.com/alexkaratarakis/gitattributes

# -----------------------------------------------
# ----  General  --------------------------------
# -----------------------------------------------

*        text=auto
*.md     text      diff=markdown

*.png   -text
*.ico   -text

# -----------------------------------------------
# ----  LFS  ------------------------------------
# -----------------------------------------------

src/hermes/hermes filter=lfs diff=lfs merge=lfs -text
