name: Release

on:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish Features
        uses: devcontainers/action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          publish-features: 'true'
          base-path-to-features: ./src
          generate-docs: 'true'

      - name: Create PR for Documentation
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e

          git config --global user.email github-actions[bot]@users.noreply.github.com
          git config --global user.name github-actions[bot]
          git config pull.rebase false

          BRANCH=automated-documentation-update-$GITHUB_RUN_ID
          git checkout -b ${BRANCH}

          # Add / update and commit
          git add */**/README.md
          git commit -m 'Automated documentation update [skip ci]' || export NO_UPDATES=true

          if [[ ${NO_UPDATES:-} != 'true' ]] ; then
            git push origin "${BRANCH}"
            MESSAGE='Automated documentation update'
            gh pr create --title "${MESSAGE}" --body "${MESSAGE}"
          fi
