name: Validation

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

jobs:
  validate:
    name: Validate JSON
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate devcontainer-feature.json
        uses: devcontainers/action@v1
        with:
          validate-only: 'true'
          base-path-to-features: ./src
